body {
  margin: 0;
  font-family: "Enriqueta", serif;
  min-width: 500px;
}

header {
  height: 60px;
  background-color: #899E8B;
  align-items: center;
  z-index: 10;
}

#logo {
  width: 90px;
  grid-column: 1;
  margin-left: 10px;
}

#main_nav {
  display: none;
}

#menu {
  width: 50px;
  justify-self: end;
  grid-column: 4/5;
  padding-right: 10px;
  margin-right: 10px;
}

#menu:hover {
  cursor: pointer;
}

@media screen and (min-width: 640px) {
  header {
    height: 70px;
  }
  #logo {
    width: 110px;
    margin-left: 20px;
  }
  #menu {
    grid-column: -1;
    margin-right: 20px;
  }
}
@media screen and (min-width: 1024px) {
  #logo {
    margin-left: 30px;
  }
  #main_nav {
    display: flex;
    grid-column: 9/-1;
    justify-self: flex-end;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    margin-right: 30px;
  }
  #main_nav ul {
    list-style-type: none;
    display: flex;
  }
  #main_nav ul li a {
    color: #54514B;
    text-decoration: none;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 19px;
    margin-right: 30px;
    transition: all 0.5s ease;
  }
  #main_nav ul li a:hover {
    border-bottom: 4px solid #54514B;
    padding-bottom: 10px;
  }
  .selected a {
    border-bottom: 4px solid #54514B;
  }
  #menu {
    display: none;
  }
}
#mobile_menu {
  position: absolute;
  width: 100%;
  list-style: none;
  padding: 10px;
  background-color: #899E8B;
  margin: 0;
  border-top: solid 2px #54514B;
  border-bottom: solid 2px #54514B;
  filter: brightness(0.9);
}

#mobile_menu li:first-of-type {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
}

#mobile_menu li:last-of-type {
  margin-bottom: 50px;
}

#mobile_menu li {
  text-align: center;
  font-size: 24px;
  margin-top: 20px;
  color: #54514B;
  width: 150px;
  margin-right: auto;
  margin-left: auto;
  border-bottom: solid 2px #54514B;
}

#mobile_menu a {
  color: #54514B;
  text-decoration: none;
}

.toggled {
  display: none;
}

@media screen and (min-width: 1024px) {
  #mobile_menu {
    display: none;
  }
}
footer {
  background-color: #54514B;
  height: 100px;
}

footer ul {
  grid-column: 1/-1;
  padding: 0;
}

footer ul li {
  text-decoration: none;
  list-style: none;
  display: inline;
  margin-left: 20px;
}

footer ul li:first-of-type {
  margin-left: 10px;
}

footer ul li a {
  color: #fcfcfc;
  font-size: 18px;
}

@media screen and (min-width: 640px) {
  footer ul li {
    margin-left: 40px;
  }
  footer ul li:first-of-type {
    margin-left: 20px;
  }
  footer ul li a {
    font-size: 18px;
  }
}
@media screen and (min-width: 1024px) {
  footer ul li {
    margin-left: 50px;
  }
  footer ul li:first-of-type {
    margin-left: 30px;
  }
}
#hero {
  column-span: all;
  height: 250px;
  background-color: #8e8e8e;
}

#see_more {
  grid-column: 3/5;
  align-self: end;
  justify-self: end;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 15px;
  width: 150px;
  text-decoration: none;
  color: #fcfcfc;
  background-color: #54514B;
  font-size: 14px;
  border-radius: 10px;
}

#see_more span {
  font-size: 18px;
  font-weight: bold;
}

#site_info {
  background-color: #99C5B5;
  height: 142px;
}

#site_info p {
  grid-column: 1/5;
  color: #fcfcfc;
  font-size: 14px;
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
  align-self: center;
}

.furniture_selection {
  margin-top: 40px;
  grid-column: span 2;
}

.furniture_selection a {
  text-decoration: none;
}

.furniture_selection p {
  background-color: #99C5B5;
  color: #fcfcfc;
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  display: block;
  width: 100%;
  margin: 0;
}

.furniture_selection a div {
  background-color: #8e8e8e;
  height: 150px;
}

@media screen and (min-width: 640px) {
  #hero {
    height: 350px;
  }
  #see_more {
    grid-column: 7/9;
    width: 175px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  #site_info {
    height: 200px;
  }
  #site_info p {
    grid-column: 1/9;
  }
  .furniture_selection {
    grid-column: span 3;
  }
}
@media screen and (min-width: 1024px) {
  #hero {
    height: 450px;
  }
  #see_more {
    grid-column: 9/13;
    font-size: 16px;
    width: 225px;
  }
  #site_info {
    height: 250px;
  }
  #site_info p {
    grid-column: 1/13;
    font-size: 18px;
  }
  .furniture_selection {
    grid-column: span 4;
  }
}
#furniture_name {
  grid-column: 1/5;
  font-size: 24px;
  justify-self: center;
  background-color: #fff;
  border-radius: 10px;
  padding: 5px;
  font-weight: 200;
}

#scene {
  position: block;
  margin: 0 auto;
  justify-self: center;
  grid-column: 1/5;
}

#texture_select {
  grid-column-start: 1;
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-top: -30px;
  border-radius: 15px;
  background-color: #cdcdcd;
  padding: 10px;
}

#texture_select li {
  width: 50px;
  height: 50px;
  background-color: #3e3e3e;
  border-radius: 50%;
  margin-left: 25px;
  z-index: 1;
}

#texture_select li:first-of-type {
  margin: 0;
}

#texture_select li:hover {
  cursor: pointer;
}

@media screen and (min-width: 640px) {
  #furniture_name {
    font-size: 28px;
  }
  #scene {
    grid-column: 1/9;
  }
}
@media screen and (min-width: 1024px) {
  #furniture_name {
    font-size: 32px;
  }
  #scene {
    grid-column: 1/8;
  }
  #texture_select {
    margin-top: 0;
    flex-direction: column;
    grid-column: 8/12;
    height: 220px;
    justify-content: space-between;
  }
  #texture_select li {
    margin: 0;
  }
}
.full_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  min-width: 475px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  margin-right: 10px;
  margin-left: 10px;
  min-width: 475px;
}

@media screen and (min-width: 640px) {
  .full_grid {
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 30px;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 10px;
    margin-right: 20px;
    margin-left: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .full_grid {
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 40px;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 10px;
    margin-right: 30px;
    margin-left: 30px;
  }
}

/*# sourceMappingURL=main.css.map */
