$white: #fcfcfc !default;
$black: #353535 !default;
$light_grey: #f0f0f0 !default;
$dark_brown: #54514B !default;
$brown_grey: #706C61 !default;
$olive: #899E8B !default;
$blue_green: #99C5B5 !default;
$light_blue: #AFECE7 !default;
$light_green: #81F499 !default;
